.conversation-query {
	background-color: #4bb2ee; 
	color: #fff; 
	border-radius: 10px; 
	max-width: 250px; padding: 10px; 
	border: solid 1px #1bd096; 
	margin-bottom: 10px; 
	margin-left: 15px;
}

.conversation-response {
	background-color: #1bd096; 
	color: #fff; 
	border-radius: 10px; 
	max-width: 250px; padding: 10px; 
	border: solid 1px #0ea877; 
	margin-bottom: 10px; 
	margin-left: 25px;
}